 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Create a Markdown Cell
- Create a Code Cell
- Create a Table
- Create an ordered and unordered list
- Introduce arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. ggplot
3. pandas

|Data Science Tools|
|-----------------------|
|JupyterLite|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Marco